
body {
    background: linear-gradient(45deg, #312289, #0e6e7b);
    height: 100vh;
    font-family: arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
  }
  form{
    background: rgba(255, 255, 255, .3);
    padding: 8rem;
    height: 32px;
    border-radius: 20px;
    border-left: 3px solid rgba(255, 255, 255, .3);
    border-top: 3px solid rgba(255, 255, 255, .3);
    border-right: 3px solid rgba(255, 255, 255, .3);
    border-bottom:  3px solid rgba(255, 255, 255, .3);
    /*effet cool*/
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    text-align: center;
  }

 

 


  input[type="button"]{
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    width: 150px;
}
