html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(243, 241, 241);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(105, 105, 105);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(167, 167,164 );
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(167, 167, 164);
  }
  
  caption {
    padding: 10px;
  }